
/* Base colors */
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  /* https://www.quackit.com/css/css_color_codes.cfm */
  background-color: LavenderBlush;

}

.container-nav {
  text-align: center;
  width: 100%;
  color: black;
}

.nav-bar {
  overflow: hidden;
  float: middle;

}



.nav-bar a:hover {
  color: red;
  background-color: white;
}
