
/* Base colors */
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  /* https://www.quackit.com/css/css_color_codes.cfm */
  background-color: LavenderBlush;

}

.wrapper-nav {
  text-align: center;
  width: 100%;
  background-color: PapayaWhip;
  padding: 5px;
}

.nav-bar {
  overflow: hidden;
  float: middle;
}

.nav-bar a:hover {
  color: red;
}

.main-parallax {
  background-image: url("img/test.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.temp {
  font-size: 30px;
  background-color: red;
  height: 1000px;
}
